*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.thermosphere {
  height: 35000px;
  background: linear-gradient(black, #2171b5);
}

.mesosphere {
  height: 30000px;
  background: linear-gradient(#2171b5, #6baed6);
}

.stratosphere {
  height: 45000px;
  background: linear-gradient(#6baed6, #bdd7e7);
}

.troposphere {
  height: 10000px;
  background: linear-gradient(#bdd7e7, #eff3ff);
}

.tropopause {
  position: absolute;
  top: 10000px;
  height: 5px;
  background-color: red;
}

.atmosphere-div {
}

.ruler-div {
  background-color: black;
  height: var(--total-height);
}

.atmosphere-and-ruler {
  height: var(--total-height);
  display: grid;
  grid-template-columns: 15% 85%;
}

.button-to-bottom {
  position: sticky;
  /* bottom: 0px; */
  /* left: 20px; */
  top: 35px;
  left: 10px;
}

.button-to-top {
  position: sticky;
  /* bottom: 0px; */
  /* left: 20px; */
  top: 10px;
  left: 10px;
}

/* .ruler {
  position: relative;
  height: 20px;
  background-color: #f0f0f0;
} */

.ruler-mark {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px solid #ccc;
}

.ruler-label {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 10px;
}